html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #00539F;
  }
  body {
      width: 600px;
      margin: 0 auto;
      background-color: #ff9500;
      padding: 0 20px 20px 20px;
      border: 5px solid black;


  }

  h1 {
      font-size: 60px;
      text-align: center;
      margin: 0;
      padding: 20px 0;
      color: #00539f;
      text-shadow: 3px 3px 1px black;
  }

  p, li {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
  }
  
  img {
      display: block;
      margin: 0 auto;
  }